* {
    font-family: "Roboto", sans-serif;
}

/* HEADER */
.navbar > .container-fluid {
    flex-wrap: nowrap;
}

.navbar-brand img:first-child {
    width: 40px;
}

header .form-control {
    color: #777777;
    background-color: #e5e5e5;
}